.container {
  max-width: 1376px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}